.backLink
  font-size: $size-5
  
  &:before
    background: transparent url('../images/button_icon-arrow.svg') no-repeat center center
    background-size: 1em 1em
    content: ''
    display: inline-block
    width: 1.5em
    height: 1.5em
    vertical-align: top

.header
  composes: pageHeader from '../components/PageHeader.module.sass'
  padding: 0

  .summary
    padding: .5rem 1rem
    margin-bottom: $block-spacing

.tags
  margin-bottom: .5rem

  .tag
    margin: 0 1rem

.images
  margin: 0 auto $block-spacing
  background-color: $grey
  +tablet
    max-width: 800px
