@charset "utf-8";

.l-main-topmenu .front_menu-items.is-playing .sub-container {
  background-color: #ffc0c0;
  background-image: url('playing.png');
}

.l-main-topmenu .front_menu-items.is-making .sub-container {
  background-color: #a0e0e0;
  background-image: url('making.png');
}

.l-main-topmenu .front_menu-items.is-aboutme .sub-container {
  background-color: #c0ffc0;
  background-image: url('aboutme.png');
}

.l-main-topmenu .front_menu-items.is-twitter .sub-container {
  background-color: #c0c0ff;
  background-image: url('twitter.png');
}

.l-main-topmenu .front_menu-items.is-github .sub-container {
  background-color: #d0d0d0;
  background-image: url('github.png');
}

.l-main-topmenu .front_menu-items.is-blog .sub-container {
  background-color: #e0e0a0;
  background-image: url('blog.png');
}

.l-main-topmenu .front_menu-items.is-wwa_fansq .sub-container {
  background-color: #ff9a31;
  background-image: url('wwa_fansq.png');
}