.carousel
  position: relative
  
.items
  text-align: center

  .itemFigure
    position: relative
    height: 100%

    .itemImage
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: auto
      width: auto
      height: auto
      max-width: 100%
      max-height: 100%

    .itemCaption
      background-color: rgba(0, 0, 0, .5)
      color: #fff
      position: absolute
      bottom: 0
      width: 100%
      padding: .5rem

.backButton,
.nextButton
  background-color: rgba(0, 0, 0, .5)
  color: #fff
  border: 0
  position: absolute
  top: 50%

.backButton
  left: 0

.nextButton
  right: 0

  .nextButtonIcon
    transform: rotate(180deg)
