.header
  +block
  background-color: $light
  border-bottom: 2px solid $primary

  .container
    display: flex
    align-items: center
    flex-wrap: wrap
    padding: $block-spacing 0
    +touch
      padding: $block-spacing

  .title
    +desktop
      margin-right: $gap
