.pageHeader
  background-color: $light
  color: $primary
  font-weight: $weight-bold
  margin: $block-spacing 0
  padding: .5rem 1rem
  h1
    font-size: $size-3
  h2
    font-size: $size-4

.container
  display: flex
  flex-flow: row nowrap
  justify-content: center

  .icon
    flex: 0 0 auto
    margin-right: 1rem

    .iconImage
      width: 64px
      height: 64px

  .content
    flex: 1 1 auto
