.list
  background: transparent url('../images/portfolio_items_arrow-center.svg') repeat-y center top
  background-clip: content-box
  position: relative
  padding: 64px 0 128px

  &:before,
  &:after
    content: ''
    position: absolute
    width: 100%
    display: block

  &:before
    background: transparent url('../images/portfolio_items_arrow-start.svg') no-repeat center bottom
    top: 0
    height: 64px

  &:after
    background: transparent url('../images/portfolio_items_arrow-end.svg') no-repeat center bottom
    bottom: 0
    height: 128px
