.item
  background-color: $light
  border: 2px solid $primary

  .title
    font-weight: bold

    .titleText
      padding: .5rem 1rem

  .content
    padding: .5rem 1rem

  .dateWrapper
    font-size: $size-7
  
  .tagList
    .tagItem
      display: inline-block
      margin: 0 .5rem
