.item
  background-color: $light
  border: 2px solid $primary

  .title
    font-weight: bold

  .dateWrapper
    font-size: $size-7
    text-align: right
  
  .tagList
    .tagItem
      margin: 0 1rem