<section class="l-main-topic topic">
  <header class="topic-title">
    <h2 class="topic-title-text">最新情報</h2>
  </header>
  <div class="topic-content">
    <ul class="topic-list">
    {{- $data := .Site.Data.informations.info2017 -}}
    {{- $.Scratch.Set "count" 0 -}}
    {{- range sort ($data) ".date" "desc" -}}
      {{- $count := $.Scratch.Get "count" -}}
      {{- if lt $count 3 -}}
        {{- $date := .date -}}
        {{- range .item }}
      <li>
        {{- dateFormat "2006/01/02" $date }} -
        {{- if .link }} <a href="{{ .link }}" title="{{ .name }}">{{ .name }}</a>{{ else }} {{ .name }}{{ end -}}
      </li>
          {{- $.Scratch.Add "count" 1 -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    </ul>
    <footer class="topic-footer">
      <div class="link_button">
        <a href="{{ .Site.BaseURL }}informations.html">お知らせトップ</a>
      </div>
      <div class="link_button">
        <a href="{{ .Site.BaseURL }}informations/2017.html" title="2017年のお知らせ">全部みる</a>
      </div>
    </footer>
  </div>
</section>