{{ partial "header.html" . }}

    <main class="l-main">
      <div class="l-wrap is-center">
        <div class="l-main-content l-doc">
          <div class="box is-cols-2">
            <section class="boxes">
              <h2 class="boxes-title">WWA FanSquareを設立しました</h2>
              <p>WWAユーザ間との交流を目的に、WWA Wingから独立した形で、WWA FanSquareを設立しました。</p>
              <p>私Aokashiが代表として活動していきます。ここAokashi Homeでも、WWA FanSquareの記事を発信していくかもしれません。</p>
              <ul>
                <li><a href="http://www.wwafansq.com" title="WWA FanSquare">Webサイトに行く</a></li>
                <li><a href="https://twitter.com/wwa_fansq" title="WWA FanSquare(@wwa_fansq)さん | Twitter">Twitterを見る</a></li>
              </ul>
            </section>
            <section class="boxes">
              <h2 class="boxes-title">旧サイトのデータを削除しました</h2>
              <p>以前運営していた さくらのレンタルサーバー のデータを削除しました。</p>
              <ul>
                <li><a href="{{ .Site.BaseURL }}informations/2017/07_31.html">詳細を見る</a></li>
              </ul>
            </section>
          </div>
          <div class="box is-cols-1">
            <section class="boxes">
              <h2 class="boxes-title">最新情報</h2>
              <p>当サイトからのお知らせを5件表示しています。すべてのお知らせは<a href="{{ .Site.BaseURL }}informations.html">お知らせ</a>でご覧になれます。</p>
              <ul>{{ range first 5 (where .Data.Pages "Section" "informations") }}{{ if ne .File.BaseFileName "index" }}
                <li>{{ .Date.Format "2006/01/02" }} - <a href="{{ .URL }}" title="{{ .Title }}">{{ .Title }}</a></li>{{ end }}{{ end }}
              </ul>
              <p>更新履歴は<a href="{{ .Site.BaseURL }}informations/2017/" title="2017年のお知らせ">今年のお知らせ</a>でご覧になれます。</p>
            </section>
          </div>
        </div>
      </div>
    </main>

{{ partial "footer.html" . }}