{{ partial "header.html" . }}

    <main class="l-main">
      <div class="l-wrap is-center">
        <div class="l-main-content l-doc">
          <div class="box is-cols-2">
            <section class="boxes">
              <h2 class="boxes-title">WWA FanSquareを設立しました</h2>
              <p>WWAユーザ間との交流を目的に、WWA Wingから独立した形で、WWA FanSquareを設立しました。</p>
              <p>私Aokashiが代表として活動していきます。ここAokashi Homeでも、WWA FanSquareの記事を発信していくかもしれません。</p>
              <ul>
                <li><a href="http://www.wwafansq.com" title="WWA FanSquare">Webサイトに行く</a></li>
                <li><a href="https://twitter.com/wwa_fansq" title="WWA FanSquare(@wwa_fansq)さん | Twitter">Twitterを見る</a></li>
              </ul>
            </section>
            <section class="boxes">
              <h2 class="boxes-title">リニューアル後のコンテンツについて</h2>
              <p>リニューアルによるコンテンツ整理及びサーバー移転のため、コンテンツの移転がまだ終わっていない箇所があります。</p>
              <ul>
                <li><a href="http://contents.aokashi.net/restore/ah_1-2" title="Aokashi Home(旧サイト)">Aokashi Home(旧サイトからの復元)</a></li>
                <li><a href="http://aokashi.sakura.ne.jp/pukiwiki" title="Aokashi World Wiki">Aokashi World Wiki</a></li>
              </ul>
              <p><strong>Aokashi World Wiki</strong>は7月29日(土)を持ちましてサービスを終了します。以降は<a href="https://contents.aokashi.net/docs/" title="Aokashi Home 資料集">Aokashi Home 資料集</a>をご利用ください。</p>
            </section>
          </div>
          <div class="box is-cols-1">
            <section class="boxes">
              <h2 class="boxes-title">最新情報</h2>
              <p>当サイトからのお知らせを5件表示しています。すべてのお知らせは<a href="{{ .Site.BaseURL }}informations.html">お知らせ</a>でご覧になれます。</p>
              <ul>{{ range first 5 (where .Data.Pages "Section" "informations") }}{{ if ne .File.BaseFileName "index" }}
                <li>{{ .Date.Format "2006/01/02" }} - <a href="{{ .URL }}" title="{{ .Title }}">{{ .Title }}</a></li>{{ end }}{{ end }}
              </ul>
              <p>更新履歴は<a href="{{ .Site.BaseURL }}informations/2017/" title="2017年のお知らせ">今年のお知らせ</a>でご覧になれます。</p>
            </section>
          </div>
        </div>
      </div>
    </main>

{{ partial "footer.html" . }}