$logo-width: 512px
$logo-height: 96px
$site-icon-width: 64px
$content-bg: $light url('../images/ah-background_profile.png') repeat 0 0

.indexBody
  background: #808080 url('../images/ah-background_index.png') repeat 0 0

.firstScreen
  height: 100vh
  display: grid
  display: -ms-grid
  grid-gap: $block-spacing

  .titleLogo
    width: $logo-width

.contentsNav,
.siteNav
  display: flex
  .navItem
    flex: 0 1 auto
    color: $white
    &:hover
      color: $light
.navItemLink
  display: flex
  flex-flow: row nowrap
  align-items: center
  color: inherit
  .navItemIcon
    flex: 0 0 auto
  .navItemText
    flex: 1 1 auto
    text-transform: uppercase

.siteNav
  .navItemIcon
    margin: 0 .5rem

+mobile
  .siteNav
    .navItemIcon
      width: 10vw
      max-width: $site-icon-width

+touch
  .firstScreen
    grid-template-columns: 1fr
    -ms-grid-columns:      1fr
    grid-template-rows: 1fr $logo-height 1fr auto auto auto
    -ms-grid-rows:      1fr $logo-height 1fr auto auto auto
  .title
    grid-row: 2
    -ms-grid-row: 2
    text-align: center
    padding: 0 .5rem
  .contentsNav,
  .siteNav
    justify-content: space-around
  .contentsNav
    grid-row: 4
    -ms-grid-row: 4
    .navItemLink
      flex-direction: column
  .siteNav
    grid-row: 5
    -ms-grid-row: 5
  .navItemText
    font-size: 3vw
  .quickContents
    grid-row: 6
    -ms-grid-row: 6

+desktop
  .firstScreen
    grid-template-columns: 1fr $logo-width 1fr
    -ms-grid-columns:      1fr $logo-width 1fr
    grid-template-rows: 1fr $logo-height 1fr auto
    -ms-grid-rows:      1fr $logo-height 1fr auto
  .title
    grid-column: 2
    -ms-grid-column: 2
    grid-row: 2
    -ms-grid-row: 2
  .contentsNav
    grid-column: 1
    -ms-grid-column: 1
    grid-row-start: 1
    grid-row-end: 4
    -ms-grid-row: 1
    -ms-grid-row-span: 3
    flex-flow: column nowrap
    justify-content: center
  .siteNav
    grid-column: 3
    -ms-grid-column: 3
    grid-row-start: 2
    grid-row-end: 4
    -ms-grid-row: 2
    -ms-grid-row-span: 2
    flex-flow: column nowrap
    justify-content: flex-end
  .navItem
    min-height: 0
  .navItemLink,
  .navItemIcon
    height: 100%
  .navItemLink
    flex-flow: row nowrap
    .navItemIcon
      margin: 0 .5rem
    .navItemText
      font-size: $size-5
  .quickContents
    grid-column: 1 / 4
    -ms-grid-column: 1
    -ms-grid-column-span: 3
    grid-row: 4
    -ms-grid-row: 4

.quickContents
  background: $content-bg
  border-top: 2px solid $primary

.information
  padding: .5rem .5rem .5rem 2rem
  background: $white
  position: relative
  &:before
    content: "»"
    position: absolute
    left: 1rem

.aboutme
  display: flex
  align-items: center
.aboutmeIcon
  height: 64px
  flex: 0 0 auto
  +desktop
    height: 128px

.social
  .socialItem
    display: inline-block
    margin: .5rem 1rem
    +desktop
      margin: .5rem 2rem
  .socialLink
    color: $grey
    &:hover
      color: $black
  .socialIcon
    font-size: 1.5rem
    color: $black
    margin-right: .25rem
    +desktop
      font-size: 2rem
  .socialText
    font-size: $size-7
    +desktop
      font-size: $size-6
  +touch
    .hasLink .socialText
      display: none

.mainContent
  background: $content-bg
  padding: 1rem
