$icon-size: 64px

.indexBody
  background: #808080 url('../images/ah-background_index.png') repeat 0 0

.firstScreen
  width: 100vw
  height: 100vh
  display: flex
  flex-flow: column nowrap

  .title
    flex: 1 1 auto
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center
    padding: 1rem
    .titleLogo
      flex: 0 0 auto
  
  .front
    flex: 0 0 auto
    background: rgba(255, 255, 255, .5)

    .nav
      padding: 1.5rem 0

    .navSite .navItemIcon
      display: none

    .navItemLink
      display: block
      text-align: center
      border: 2px solid transparent
      &:hover
        border-color: $dark

    .navItemText
      display: block

    .aboutme
      height: $icon-size
      display: flex

      .aboutmeIcon
        height: $icon-size
        flex: 0 0 $icon-size

      .aboutmeTitle
        font-size: $size-5
        flex: 1 1 auto
        padding: 1rem

.mainHeader,
.mainContent
  .container
    background-color: rgba(255, 255, 255, .25)
    text-align: center
    padding: $block-spacing 0
