.indexBody
  background: #808080 url('../images/ah-background_index.png') repeat 0 0

.mainHeader,
.mainContent
  .container
    background-color: rgba(255, 255, 255, .25)
    text-align: center
    padding: $block-spacing 0
