.pageBody
  background: $white url('../images/ah-background_content.png') repeat 0 0
  
.mainContent
  +block

.container
  display: flex
  flex-wrap: nowrap
  +touch
    flex-direction: column
    .nav
      display: none
    .article
      order: 2
      flex: 1 1 auto
    .rightSidebar
      order: 1
      flex: 1 1 auto
  +desktop
    flex-direction: row
    .nav,
    .rightSidebar
      flex: 0 0 200px
    .article
      flex: 1 1 auto

.nav
  background-color: #80c0ff
  .navContent
    position: sticky
    top: 1rem
  .navItem
    display: block
    background-color: $light
    color: $primary
    border-left: 2px solid $grey
    margin: .5rem
    padding: .5rem
    &:hover
      background-color: $grey
    &.isActive
      border-color: $primary
      font-weight: bold

.floatNav
  background-color: $light
  border-top: 2px solid $primary
  position: fixed
  bottom: 0
  width: 100vw
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  +desktop
    display: none
  .navItem
    color: $black
    flex: 0 1 auto
    text-align: center
    &:hover
      background-color: $grey
    &.isActive
      font-weight: bold
  .navIcon
    max-width: 64px // 横持ちで閲覧した場合、なるべく閲覧領域を確保するため幅に上限をもたせる
  .navText
    display: block
    font-size: $size-7
