.pageBody
  background: $white url('../images/ah-background_content.png') repeat 0 0
  
.mainContent
  +block
  +touch
    padding: 0 $block-spacing

  .mainSidebar
    background-color: #80c0ff
    +tablet
      width: 200px

    ul
      +mobile
        overflow-x: auto
        white-space: nowrap

    li
      background-color: $light
      color: $primary
      margin: .25rem
      padding: .5rem
      +mobile
        display: inline-block
        margin-right: 1rem
      &:hover
        background-color: $grey

      a
        color: inherit
