<div class="box is-2-cols">
  {{ range $number, $value := .Site.Data.wwa }}
  {{ if $value.supportWWAWing }}
  <div class="box-items">
    <img src="{{ $value.id }}.gif" alt="{{ $value.id }}.gif" class="box-items-image">
    {{ range $subNumber, $subValue := .games }}
    <h6 class="box-items-title">[{{ $number }}-{{ $subNumber }}] <a href="{{ .id }}.html">{{ $value.name }}{{ $subValue.name }}</a></h6>
    {{ else }}
    <h6 class="box-items-title">[{{ $number }}] <a href="{{ .id }}{{ if .hasMainPage }}/{{ else }}.html{{ end }}">{{ $value.name }}</a></h6>
    {{ end }}
    <p>{{ $value.description }}</p>
    {{ if isset $value "rankingURL" }}
    <ul>
      <li><a href="{{ $value.rankingURL }}" title="{{ $value.name }}">ランキングを見る</a></li>
    </ul>
    {{ end }}
  </div>
  {{ end }}
  {{ end }}
</div>