{{ define "main" }}

  <main class="l-main">
    <div class="sub-wrap is-center">
      <div class="l-main-content">
        <article class="l-main-contents">
          <header class="l-main-contents-header list">
            <h2 class="list-title">{{ .Title }}</h2>
          </header>
          <div class="l-main-contents-list list has-title">
          {{ $data := getJSON "data/informations/info2017.json" }}
          {{ range sort ($data) ".date" "desc" }}
            <section class="list-items">
              <h6 class="list-items-title">{{ dateFormat "01月 02日" .date }}</h6>
              <ul class="list-items-content">
              {{ range .item }}
              {{ if isset . "link" }}
                <li{{ if hasPrefix .link "informations" }} class="is-page"{{ end }}><a href="{{ .link }}" title="{{ .name }}">{{ .name | markdownify }}</a></li>
              {{ else }}
                <li>{{ .name | markdownify }}</li>
              {{ end }}
              {{ end }}
              </ul>
            </section>
          {{ end }}
          </div>
        </article>
      </div>
    </div>
  </main>

{{ end }}