{{ define "main" }}

  <main class="l-main">
    <div class="sub-wrap is-center">
      <div class="l-main-content">
        <article class="l-main-contents">
          <header class="l-main-contents-header list">
            <h2 class="list-title">{{ .Title }}</h2>
          {{ $date := .Date.Format "2006-01-02" }}
          {{ if ne $date "0001-01-01" }}
            <div class="list-items">
              <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年 01月 02日" }}</time>
            </div>
          {{ end }}
          </header>
          <div class="l-main-contents-doc set-doc">

{{ .Content }}

          </div>
        </article>
      </div>
    </div>

{{ partial "sidebar_toc.html" . }}

    <div class="sub-wrap is-left">
      <nav class="l-main-sidebar_menu menu">
        <ul>
          <li class="menu-items is-top"><a href="{{ .Site.BaseURL }}{{ .Section }}.html">戻る</a></li>
        {{ range (where .Site.Pages "Section" .Section) }}
        {{ if eq .File.BaseFileName "index" }}
          <li class="menu-items"><a href="{{ replace .URL ".html" "/" }}">{{ .Title }}</a></li>
        {{ end }}
        {{ end }}
        </ul>
      </nav>
    </div>
  </main>

{{ end }}